<div style="font-size:12px;BORDER-BOTTOM:#bbb 1px solid;BORDER-LEFT:#bbb 1px solid;BACKGROUND:#f6f6f6;MIN-HEIGHT:120px;BORDER-TOP:#bbb 1px solid;BORDER-RIGHT:#bbb 1px solid;MARGIN-LEFT:10px;MARGIN-RIGHT:10px;MARGIN-BOTTOM:10px" >
    <div style="MARGIN-TOP:10px;FLOAT:left;MARGIN-LEFT:10px;MARGIN-RIGHT:10px">
        <img alt="author:<%- theme.Author %>" src="<%- theme.avatar.url %>" width="100" height="100">
    </div>
    <div style="LINE-HEIGHT:200%;MARGIN:10px;COLOR:#000">Author: <a href="<%- config.url %>"><%- config.author %></a> &nbsp;&nbsp;&nbsp;&nbsp; Blog: <a href="<%- config.url %>"><%- config.url %></a>&nbsp;&nbsp;&nbsp;&nbsp; Email: <a href="mailto:<%- theme.Email %>" rel="external nofollow noopener noreferrer" target="_blank"><%- theme.Email %></a>
        <br><%- config.bio %>
    </div>
</div>