<div onload="showmenu()">
    <div id="face" onclick="change()">
        <!--   封面   -->
        <div id="title" title="Click me to show menu!">
            <%- theme.Journal.title %><br>
                <%- theme.Journal.subtitle %>
        </div>
        <div class="description center-align">
            <% if (theme.subtitle.enable) { %>
                <span id="subtitle"></span>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script>
                    var typed = new Typed("#subtitle", {
                        strings: [
                            <% theme.subtitle.sub.forEach(function(item){ %>
                            "<%= item %>",
                            <% }) %>
                        ],
                        startDelay: <%= theme.subtitle.startDelay %>,
                        typeSpeed: <%= theme.subtitle.typeSpeed %>,
                        loop: <%= theme.subtitle.loop %>,
                        backSpeed: <%= theme.subtitle.backSpeed %>,
                        showCursor: <%= theme.subtitle.showCursor %>
                    });
                </script>
            <% } else { %>
                <%= config.description %>
            <% } %>
        </div>
        <div id="xingkong">
            <div id="test">Your browser can not support canvas</div>
        </div>

        <!-- <canvas id="canvas" style="position:absolute;z-index:-2;">Your browser can not support canvas</canvas> -->

        <%- js('js/star.js') %>
    </div>
    <!--   menu   -->
    <div id="blog" style="display: none;">
        <%- partial('_partial/menu') %>
    </div>
    <script>
        document.getElementById("journal-name").style.display = 'none';
        var showed = false;
        function change() {
            showed = true;
            showmenu();
        }
        function showmenu() {
            //if(showed)
            var url = window.location.pathname;
            if (url.search("page") != -1 || showed) {
                document.getElementById("title").style.display = 'none';
                document.getElementById("blog").style.display = 'block';
                document.getElementById("journal-name").style.display = 'block';/*注意inline和block的区别*/
                document.getElementById("title").innerHTML += "<br/><p>";
                document.getElementById("xingkong").style.display = 'none';
            }
        }

    </script>
    <!--
        <script type="text/javascript" src="js/canvas-nest.js"></script>
        <script type="text/javascript" src="js/canvas-nest.umd.js"></script>
        <script type="text/javascript" color="255,0,0" opacity='0.7' zIndex="-2" count="100"  src="https://cdn.staticfile.org/canvas-nest.js/2.0.4/canvas-nest.js"></script>
        -->
</div>