<% permalink = config.url + config.root + post.path %>

<hr id="topline"/>
<div id="DOI"> <%= date(post.date, 'MMMM D, YYYY') %> <br><%- url_for(page.permalink) %></div>
<article class="post">
 
  <h1 class="post-title"><%- titlecase( post.title) %></h1>
  <section id="post-author"><%- theme.Author %> <br/><%- theme.Address %></section>
  <section class="post-content article-entry">
    <section id="Abstract">
    <hr id="Abstract"/>
    <span id="Abstract">Abstract
        
    </span>    
    <span id="Abstract-content">
        <%- page.excerpt %>
        <!--Table of Contents begin-->
        <% if (  post.toc || ( theme.toc && post.toc !== false) && !index){ %>
          <div id="toc" class="toc-article">
            <a class="js-toggle-toc" href="javascript:void(0)"></a>
            <div class="toc-content">
              <%- toc(post.content, {list_number: false}) %>
            </div>
          </div>
        <% } %>
        <!--Table of Contents end -->
    </span>
    
    
    <span id="Abstract">Keywords
        <span id="keywords-content">
            <% if (post.tags && post.tags.length){ %>      
              <% count = post.tags.length %>
              <% post.tags.forEach(function(tag, index) { %>
                <%- titlecase(tag.name) %>
                <% i=0 %>
                <% if( i< count -1 ) {-%>
                    &comma;
                <% } %>
                <% i=i+1 %>
              <% }); %>
            <% } %>
        </span>
    </span>
    <hr id="Abstract"/>

    <span id="Abstract">Citation
        <span id="keywords-content">
            <%- theme.Author %>&period;&nbsp; <%- titlecase( post.title) %>&period;&nbsp; <%- theme.journal.title %>&nbsp; <%- theme.journal.subtitle %>&comma;&nbsp; <%= date(post.date, 'YYYY:MMDD') %>&comma;&nbsp; <%- url_for(page.permalink) %>
        </span>
    </span> 

    <hr id="Abstract"/>
    </section>



    <%- post.content %>
    <br>
    <div id="qrcode"></div>   
    <script>
      $('#qrcode').qrcode({width: 173,height: 173,text:"<%- url_for(page.permalink) %>"});

    </script>
    

    <section id="References">
      <span id="References">References</span>
      <span id="References-content">
        <ol id="list">
          <li>
              <%- theme.Author %>&period;&nbsp; <%- titlecase( post.title) %>&period;&nbsp; <%- theme.journal.title %>&nbsp; <%- theme.journal.subtitle %>&comma;&nbsp; <%= date(post.date, 'YYYY:MMDD') %>&comma;&nbsp; <%- url_for(page.permalink) %>
          </li>
          <li>
            <%- theme.copyright.Statement %> <br/>
            <%- theme.copyright.url %> <%- url_for(page.permalink) %>
        </li>
        </ol>
      </span>

    </section>
    <div id="left"></div>
    <div id="right"></div>
  </section>
  <footer class="post-footer">
    
    <hr id="footerline"/>
    <section class="author"><br/>
      *Corresponding Author: <%- theme.Author %> &lt;Email: <%- mail_to(theme.Email) %>&gt; 
      <% if (theme.copyright.creative_commons.url){-%>
        <img src="<%- theme.copyright.creative_commons.url %>"/>
        <% } else { %>          
        <%- theme.copyright.creative_commons.license %> .
        <%} %> 
      <p><%- theme.bio %></p>
    </section>
    
  </footer>
  <script text="script/javascript">//复制加版权
    jQuery(document).on('copy', function(e)
        {
          var selected = window.getSelection();
          var selectedText = selected.toString().replace(/\n/g, '<br>');  // Solve the line breaks conversion issue 处理换行转换的问题
          var copyFooter = '<br>---------------------<br>著作权归作者所有。<br>' 
                                + '商业转载请联系作者获得授权，非商业转载请注明出处。<br>'
                                + '<br>作者：'+document.getElementById('author').innerText
                                + '<br>复制时间: '+Date.now()
                                + '<br>原文链接：' + document.location.href
                                + '<br>© 版权声明：本文为「'+document.getElementById('author').innerText+'」的原创文章，遵循 CC 4.0 BY-NC-SA 版权协议，转载请附上原文出处链接及本声明。';
                                
          var copyHolder = $('<div>', {id: 'temp', html: selectedText + copyFooter, style: {position: 'absolute', left: '-99999px'}});
          
          $('body').append(copyHolder);
          selected.selectAllChildren( copyHolder[0] );
          window.setTimeout(function() {
              copyHolder.remove();
          },0);
        });

  </script>

 
</article>

<nav class="pagination" role="pagination">
    <% if (page.prev) { %>
    <a class="newer-posts" href="<%- url_for(page.prev.path) %>">
        ← prev <!--<%- page.prev.title %>-->
    </a>
    <% } %>
    <span class="page-number">•</span>
    <% if (page.next) { %>
    <a class="older-posts" href="<%- url_for(page.next.path) %>">
        <!--<%- page.next.title %>--> next →
    </a>
    <% } %>
    <a id="toTop" href="#top" title="回顶部" style="float: right;">Top</a>
</nav>
